@charset "UTF-8";
html{
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: overlay;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
 	display: flex;
    flex-direction: column;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.category {
margin-bottom: 30px;
    padding: 0px;
    background-color: white;
    border-radius: 11px;
}

h2 {
    border: 2px solid #7DCEA0;
    padding: 5px;
    border-radius: 11px;
    background-color: #7DCEA0;
}

.items {
    display: flex;               /* 아이템을 가로로 나열 */
    overflow-x: auto;            /* 가로 스크롤을 활성화 */
    gap: 20px;                   /* 아이템 간 간격 */
    padding: 10px 0;             /* 위 아래 패딩 */
    scroll-snap-type: x mandatory; /* 스크롤 시 아이템이 스냅되도록 설정 (선택 사항) */
    width: 95vw;                /* 화면의 전체 너비를 차지하도록 설정 */
    box-sizing: border-box;      /* 패딩과 마진이 전체 너비에 포함되도록 설정 */
    touch-action: pan-y;         /* 수평 스크롤을 허용하도록 터치 동작 설정 */
    margin-left: 17px
}

.items::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.items::-webkit-scrollbar
{
  width: 30%;
  height: 10px;
  background-color: #F5F5F5;
}

.items::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #7DCEA0;
}


.item {
    width: calc(20.333% - 20px);
    cursor: pointer;
    text-align: center;
    position: relative;
    flex-shrink: 0;              /* 아이템이 축소되지 않도록 설정 */
}

.item img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}



.item img:hover {
    transform: scale(1.05);
}

p {
    margin-top: 10px;
    font-weight: bold;
}

.details {
	position: relative;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    background-color: #f9f9f9;
    padding: 0 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.details.visible {
	max-width: 1000px;
    max-height: 4000px; /* 적절한 높이로 설정 */
    opacity: 1;
    padding: 10px 10px;
}

.toggle-button {
margin-right: 5px;
    background-color: #7DCEA0;
    height: 30px;
    border-radius: 15px;
    border: 0px;
    color: white;
}
.start-button {
margin-right: 5px;
    background-color: #7DCEA0;
    height: 30px;
    border-radius: 15px;
    border: 0px;
    color: white;
}   
.toggle-button:hover {
background: #5DADE2;
    transform: scale(1.05);
}
.start-button:hover {
background: #5DADE2;
    transform: scale(1.05);
}